<%- include("header") -%>

<h2>This is the about page</h2>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat non facilis praesentium alias inventore quod, eius dolorem nam ex laborum laboriosam quo pariatur impedit architecto deserunt autem quibusdam perferendis consectetur?</p>

<%- include("footer") -%>